/*---------------------FONT-------------------------*/
@font-face {
    font-family: kanit;
    src: url("https://raw.githubusercontent.com/Paulgiblt/CoussinTrou-Score/main/Fonts/kanit.ttf");
}

@font-face {
    font-family: road rage;
    src: url("https://raw.githubusercontent.com/Paulgiblt/CoussinTrou-Score/main/Fonts/road_rage.otf");
}
/*---------------------FOND-------------------------*/
body{height: 100%;
    width:100%;
    color:blanchedalmond;
    background-color: #141A1E ;
}
.body-popup{
    background-color: #d1d1d1 ;
}

/*---------------------TEXTE------------------------*/
/*MENU*/
.menu{
    width: 100%;
    text-align: center;
    font-family: "kanit";
    color:black;
}
/*TITRE*/
header{
    width: 100%;
    margin:0 auto 0 auto 0;
}
main{
    width: 100%;
    margin:0 auto 0 auto 0;
}

.title{
    width: 100%;
    text-align: center;
    font-family: "road rage";
    color: rgba(255, 166, 0, 0.884);
    font-size: 80px;
}

.subtitle{
    width: 100%;
    text-align: center;
    font-family: "kanit";
    color:white;
    font-size: 40px;
}
/*REGLES*/
.rules{
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-family: "kanit";
    color:white;
}
/*PAGE PARTIE*/
.default-text{
    width: 100%;
    text-align: center;
    font-family: "kanit";
    color:white;
    margin: 0 25px 0 25px;
    font-size: 40px;
}

.display-score{
    width: 100%;
    text-align: center;
    font-family: "road rage";
    color:white;
    font-style:italic;
    font-size: 40px;
    margin: 0 25px 50px 25px;
    color:rgba(255, 166, 0, 0.884)
}

.title-round-button{
    width: 100%;
    text-align: right;
    font-family: "kanit";
    color:white;
    margin: 0 25px 0 25px;
    font-size: 25px;
}

/*LIEN*/
.link{
    text-decoration: none;
    color:Black ;
}

.link-selected{
    text-decoration: none;
    color:white ;
}

/*---------------------BUTTON----------------------*/
.default-button{
    text-align: center;
    height: 120px;
    width: 300px;
    font-size: 30px;
    border-radius: 10px;
    background-color:rgba(252, 185, 62, 0.884) ;
}

.default-button-selected{
    text-align: center;
    height: 120px;
    width: 300px;
    font-size: 30px;
    border-radius: 10px;
    background-color: palegoldenrod;
}

.round-button{
    text-align: center;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin:0 50px 0 50px;
}

/*----------------------DIV-----------------------*/
.default-div{
    text-align: center;
    width: 100%;
    margin:60px auto 30px auto;
}

.display-score-div{
    width: 100%;
    text-align: center;
    margin:60px 25px 100px 25px;
}

.div-popup{
    position:absolute;
    top:0px;
}

/*---------------------Image---------------------*/
.home-image{
    display: block;
    height: 80%;
    width:80%;
    margin: auto;
}
.icon{
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.image-popup{
    height: 300px;
    width: 300px;
}



/*-----------------------INPUT-------------------*/
.input-bag{
    height: 140px;
    width: 140px;
    text-align: center;
    font-size:80px;
    margin : 5px;
}

::placeholder{
    font-size: 24px;
}

/*----------------------FOOTER-----------------*/
footer{
    text-align: center;
    width: 100%;
    margin:0 0 0 0;
    position: absolute;
    bottom:0px;
}